<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>NCCA Football Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>     
      </head>

    <body>
        <div id="container">
            <div id="banner">
                <div id="logo">
                    <a href=""><img src="static/images/logo.jpg"/></a>
                </div>
                    <div id="headingtext">
                    <h1>NCCA Football Stats by <span>Group-4</span></h1>
                    </div>
            </div><!-- End Banner -->
        </div>
        <!--Menu Start-->
        <div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="allteams.html">All Teams</a></li>
                <li><a href="findings.html">Findings</a></li>
                 <li><a href="animated.html">Animated</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
        </div><!-- End Menu -->

        <!--slide show start-->
        <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="static/images/slideshowimage1.jpg" alt="main slide" style="width:100%;">
                <div class="carousel-caption">
                  <h3>NCCA Football Stats</h3>
                  <p>Football is always so much fun!</p>
                </div>
              </div>
        
              <div class="item">
                <img src="static/images/slideshowimage2.jpg" alt="Slide1" style="width:100%;">
                <div class="carousel-caption">
                  <h3>NCCA Football Stats</h3>
                  <p>Football is always so much fun!</p>
                </div>
              </div>
            
              <div class="item">
                <img src="static/images/slideshowimage3.jpg" alt="Slide2 " style="width:100%;">
                <div class="carousel-caption">
                  <h3>NCCA Football Stats</h3>
                  <p>Football is always so much fun!</p>
                </div>
              </div>
              <div class="item">
                <img src="static/images/slideshowimage4.jpg" alt="Slide3" style="width:100%;">
                <div class="carousel-caption">
                  <h3>NCCA Football Stats</h3>
                  <p>Football is always so much fun!</p>
                </div>
              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>  
       <!--Slide show end-->
        <!--Slide shadow-->  
      <div id="sdshadow">
        <img src="static/images/slide-shadow.jpg"/>
      </div><!-- End slide shadow -->
      
      <!--Boostrap column after slideshow-->
              <div class="row">
                <!--First of Two Columns-->
                <div class="col-md-1">
                </div>
                <!--Second of 2 to 11 Columns-->
                <div class="col-md-12">
                  <h2>Our MISSION
                  </h2>
                </div>
                <div class="col-md-10">
                  <h2>About our projects...........................................Story telling.....................................................
                  </h2>
                </div>

                <!--   here will be out put animated picture -->

                <!--First of one Columns-->
                <div class="col-md-1">
                </div>
                <!--Second of 2 to 4 Columns-->
                <div class="col-md-3">
                  <h1>Gallery</h1>
                  <img src="static/images/galleryimage1.jpg" alt " Pagaraph Image">
                </div>
                <!--third of 5 & 8 Columns-->
                <div class="col-md-4">
                  <h1>Visualization</h1>
                  <img src="static/images/logo.jpg" alt " Pagaraph Image">
                  <p>Aasha Services started ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                  </p>
                </div>
                <!--4th of 9 to 11 Columns-->
                <div class="col-md-3">
                  <h1>Youtube Channel</h1>
                  <div id=""></div>
                </div>


                <!--3rd of 12 Columns-->
                <div class="col-md-1">
                  <h1>
                  </h1>
                </div>
                <!--Services we offered-->
                <div class="col-md-12">
                  <h2>About US
                  </h2>
                </div>
            <!--Boostrap column after text paragraph-->

              </div>
              <div class="row">
                <!--1st of 2 and 3 Columns-->               
                <div class="col-md-2">
                  <h1>Trey Griffin</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>Trey Griffin ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                  </p>
                  
                </div>
                <!--2nd of 3 & 4 Columns-->
                <div class="col-md-2">
                  <h1>David Cook-Francis</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>David Cook-Francis ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                  </p>
                  
                </div>
                <!--3rdh of 5 & 6 Columns-->
                <div class="col-md-2">
                  <h1>David Debrowski</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>David Debrowski ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                  </p>
                 
                  </div>
                <!--4th of 7 & 8 Columns-->
                <div class="col-md-2">
                  <h1>Grant Grossman</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>Grant Grossman ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                  </p>
                  
                </div>
                 <!--5th of 9 & 10 Columns-->
                <div class="col-md-2">
                  <h1>Michael Peyser</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>Michael Peyser ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                </p>
                
                </div>
                 <!--6th of 11 and 12 Columns-->
                 <div class="col-md-2">
                 <h1>Aakash Rahman</h1>
                  <img src="static/images/picture.jpg" alt " Pagaraph Image">
                  <p>Aakash Rahman ....Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                    Good things going Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s..
                </p>
              </div>
                <div class="row">
                
                <!--After 5 box paragraph-->
                  
                    <!-- 12 Columns-->
                  <div class="col-md-1">
                  </div> 
                  <div class="col-md-12">
                    <p>Copyright © 2020All rights reserved | Powered by Group-4</p>
                  </div> 
                  
                  <div>
                    <!-- {% for item in nfl %} 
                    <h3> {{item}} </h3>
                    {% endfor %}
                      {{nfl}} -->

                  </div>
                  <!-- <div id="plot"></div> -->
                  <script type="text/javascript"> 
                  var off = "{{off_db | safe}}"
                  var def = "{{def_db | safe}}"
                  var misc = "{{misc_db | safe}}"
                   </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>              
    <script type="text/javascript" src="static/logic.js"></script>
    
    </body>
</html>
